.quicktemplate {
    left: 70px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
  }

  .row {
    padding-top: 2px  !important;
    padding-bottom: 2px  !important;
  }
 