.sideBarRight {
  color: #fff !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  background-color: #586f80;
}

.buttons {
  display: -webkit-inline-box !important;
}